@mixin theme-header($list) {
  #navbar {
    width: 100%;
  }

  #rubix-nav-header {
    transition: all 0.3s ease;
    border: none;
    border-bottom: 1px solid get($list, header, divider, color);
    margin-left: 0;
    background: get($list, header, bg);

    .navbar-brand {
      width: 100%;
      text-align: center;
      color: get($list, header, color);

      >img {
        top: -3px;
        position: relative;
      }

      @media (max-width: 320px) {
        >img {
          width: 80px;
          left: -10px;
        }
      }
    }

    .navbar-content {
      height: $navbar-height;
    }

    .navbar-nav {
      margin: 0;
      display: inline-block;

      &:first-child {
        margin-left: -25px;
      }
      &:last-child {
        margin-right: -25px;
      }
    }

    .navbar-nav > li {
      > a {
        border: none;
        padding: 13px 15px 15px 15px;
        display: block;
      }

      > a > .rubix-icon {
        // only used for light text on dark background
        // remove this if you are using lighter header background
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      }

      &.divider {
        height: $navbar-height;
        border-left: 1px solid get($list, header, divider, color);
      }

      &.dropdown.open > a {
        color: white;
        background: none;
      }

      &.active > a, > a {
        height: $navbar-height;
        font-size: 26px;
        background: none;
        text-align: center;
        color: get($list, header, color);

        &:hover {
          color: get($list, header, hover-color);
        }
      }

      &.pressed > a {
        color: white;
      }

      &.logout > a, &.sidebar-btn > a {
        width: 65px;
        font-size: 20px;
        padding-top: 12px;
        padding-left: 0px;
        padding-right: 10px;
      }

      &.logout > a {
        color: get($list, header, logout, color);
        background: get($list, header, logout, bg);

        &:hover {
          background: get($list, header, logout, hover-bg);
        }
      }

      &.sidebar-btn > a {
        color: get($list, header, sidebar-btn, color);
        background: get($list, header, sidebar-btn, bg);

        &:hover {
          background: get($list, header, sidebar-btn, hover-bg);
        }
      }

      &.collapse-left > a {
        padding-left: 0;
      }

      &.collapse-right > a {
        padding-right: 0;
      }

      &.small-font > a {
        font-size: 20px;
      }

      .notification-badge {
        font-size: 10px;
        padding: 3px 5px;
        margin-left: -5px;
        line-height: 9px;
        margin-top: -10px;
        position: absolute;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    #rubix-nav-header {
      margin-left: get($list, sidebar, width);
    }
  }

  #flag-menu-btn {
    >img {
      top: -2px;
      position: relative;
    }
  }

  .lang-menu-text {
    line-height: 32px;
  }

  #notifications-menu, #rss-menu, #flag-menu, #settings-menu {
    border: none;
    margin-top: 0px;
    overflow: visible;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    border-top: 5px solid get($list, theme, bg) !important;

    &:after {
      top: -14px;
      right: 25px;
      content: '';
      position: absolute;
      display: inline-block;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid get($list, theme, bg);
    }
  }

  #notifications-menu, #rss-menu {
    > li {
      border-bottom: 1px solid #f2f2f2;
      &:last-child {
        border-bottom: none;
      }
    }

    > li > a > .container-fluid {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    > li > a > .container-fluid > .row {
      > .avatar-container {
        width: 50px;
        padding-right: 0px;

        .label {
          font-size: 8px;
        }
      }

      > .notification-container {
        width: 225px;

        >.time {
          line-height: 1;
          font-size: 10px;
          padding-bottom: 5px;

          >strong >.rubix-icon {
            margin-right: 5px;
          }
        }

        >.message-header {
          line-height: 1;
          font-size: 12px;
          padding-bottom: 5px;
        }

        >.message-details {
          line-height: 1;
          font-size: 10px;
          padding-bottom: 5px;
        }
      }
    }

    .notification-footer-btn {
      margin: 0;
      height: 100%;
      font-size: 12px;
      border-radius: 0;
      font-weight: bold;
      padding: 6px 12px;
      border: none !important;
      color: #98A0A3 !important;
      background: #F9FAFB !important;

      &:hover, &:focus {
        border: none !important;
        background: darken(#F9FAFB, 5%) !important;
      }

      &.left-btn {
        border-right: 1px solid #DDE1E6 !important;
      }
    }
  }
}
