$icon-font-path: '/fonts/glyphicon/'; // only for glyphicon
$grid-gutter-width: 25px;

$font-size-base: 12px;
$line-height-base: 1.785714289; // 25/14
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~25px

$padding-base-vertical: 6px;
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 1);

$nav-link-padding: ($line-height-computed / 2) ($line-height-computed);
$panel-heading-padding: $nav-link-padding;
$panel-body-padding: $line-height-computed;

$navbar-height: 52px;
$sidebar-controls-visibility: visible;

$font-family-sans-serif:  Helvetica, sans-serif;
$headings-font-family: Helvetica, sans-serif;

$screen-sm-min: 990px;
$screen-md-min: 1152px;
$screen-lg-min: 1366px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$primary-color: #89949B;
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$zindex-tooltip: 999999999999999999999999999;

$container-sm: 990px;
$container-md: 990px;
$container-lg: 990px;
